// Navigation code here
.top-page{
    background-color: @nav-bg;

    h1{
        .header;
        font-size: 3rem;
    }

    nav{
        .header;
        display: flex;
        justify-content: center;
            a{
                margin: 0 15px;
                text-decoration: none;
                font-size: 1.3rem;
                color: @nav-font;
            }
    }
}